*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px;
    background-color: #ffffff;
 }
 .logo{
   width: 139;
   height: 60;

 }
 .link {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin:0 ;
  width: 365px;
  height: 24px; 
  margin: 0;
  padding: 0;
  list-style: none;

  
 }
 .primary-btn{
    background-color: #30B686;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
 }
 .primary-btn:hover {
  background-color: #3d7552;
}







 /* Hero Container */
.hero {
    height: 100vh;
    width: 100%;
    background-color:#ffff;
   
    background:  url("../assets/hero-bg.png");

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero-content {
    max-width: 800px;
}

/* Badge Styling */
.badge {
    background:#ffffff;
    color: #30B686;
    border: 1px solid rgba(244, 232, 232, 0.2);
    padding: 8px 20px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #4ade80;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 10px #4ade80;
}

/* Typography */
h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.green-text {
    color: #4ade80;
}

p {
    font-size: 1.1rem;
    color: #cbd5e1;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Buttons */
.cta-group {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.btn-primary {
    background-color: #4a9d70; 
    color: white;
}

.btn-secondary {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    background: rgba(255, 255, 255, 0.05);
}

.icon {
    width: 18px;
    margin-left: 10px;
}

.play-icon {
    margin-right: 10px;
    font-size: 12px;
}

.btn:hover {
   color: #3d7552;
   /* transform: translateY(-2px);*/
}

.problems {
  padding: 120px 120px;
  background: #f8fafc;
  text-align: center;
}

.problem-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.problem-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.problem-card .icon {
  width:  60px;
  height: 60px;
  background-color:rgba(249, 85, 85, 1);  
    border-radius: 50%;
    position: cen;
}

/* ========== SOLUTION ========== */
